<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4"
	xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<servlet>
		<servlet-name>dispatcher</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SvgDispatcher</servlet-name>
		<servlet-class>org.flhy.webapp.servlet.SvgDispatcher</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>SvgDispatcher</servlet-name>
		<url-pattern>*.svg</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>JavaScriptServlet</servlet-name>
		<servlet-class>org.flhy.webapp.servlet.JavaScriptServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>JavaScriptServlet</servlet-name>
		<url-pattern>*.js2</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>org.flhy.webapp.listener.SystemLoadListener</listener-class>
	</listener>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>
